html,
body    {
    width: 300px;
    background: #282828;
}


.hidden {
    display: none;
}


.entry  {
  transform: 50%;
  padding-left: 5px;
  padding-bottom: 9px;
  padding-top: 9px;
}

label{
  color: #ebdbb2;
  font-weight: bold;
}

#para{
  color: #ebdbb2;
}


input {
  width: 70%;
  height: 20px;
  border-radius: 0%;
  background: transparent;
  border: none;
  border-bottom: 1.5px solid #ebdbb2;
  color: #ebdbb2;
}

input:focus {
  outline: 0px;
}


#url{
  font-size: 8px;
  width: 85%;
}


button{
    border: none;
    border-radius: 5%;
    width: 60px;
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #d5c4a1;
    width: fit-content;
}


#buttons  {
  padding-left: 5px;
}


#paywallButton  {
  font-size: 1.25em;
}

button:hover {
  background-color: #ebdbb2;
}
