html,
body    {
    width: 300px;
    background: #d5c4a1;
}


.hidden {
    display: none;
}


.entry  {
  transform: 50%;
}

label{
  color: #282828;
  font-weight: bold;
}

.para{
  color: #282828;
}


input {
  width: 100%;


}


.cutButton{
    border: none;
    border-radius: 25%;
    width: 60px;
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #a89984;
}

button:hover {
  background-color: #bdae93;
}
